body{
    margin: 0px;
    
}
.header{
    margin-top: 10px;
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    margin-right: 10%;
    background-color: rgb(249, 255, 255);
    padding: 20px;
}
.profile_title1{
    display: flex;
   
}
.profile_title2{
    color: rgb(0, 140, 255);
}
.header_list{
    font-size: 20px; 
}
.profile_title{
    height: 100px;
    
    background-color: rgba(164, 214, 255, 0.5);
    position: relative;
}
#profile_text{
    margin-top: 20px;
    margin-left: 200px;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0,140,255);
}
.intro_profile{
    margin-top: 50px;
    display: flex;
    
    width: 100%;
    
    
}
.p_image{
   
   
    margin-left: 225px;
    
   
   
    

}
.d_image{
   height: 300px;
   width: 450px;
  
   
  
   


}
.d_name{

   
    margin-left: 100px;


}


#call_icon{

    height: 20px;
    width:20px;
    margin-right: 10px;
    margin-top: 20px;
    
}
#call_num{
    color: rgb(0,140,255);
    float:right;
    margin-right: 200px;
    text-decoration: underline;   



}
.skill_section{
    height: 300px;
    
   
    margin-left: 225px;
}
.bandage{
    height: 40px; 
    width:40px;
    margin-top: 5px;
   
}
#sk{
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 5px;

}
.tag_div{
    margin-top: 20px;
    height: 200px;
}
#tag{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(109, 189, 255)  ;
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(109, 189, 255) ;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.work_img{
    height: 40px;
    width: 40px;
    margin-left: 30px;
}
#work_text{
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 5px;
    margin-top: 13px;
}
.ver_line{
    border-left: 3px solid rgb(109, 189, 255);
    height: 180px;
    margin-left: 10px;
    position: relative;
    margin-top: 60px;
}
.circle_1{
    border: 1px solid rgb(109, 189, 255);
    height:15px;
    border-radius: 50%;
    width:15px;
    position:absolute;
    background-color: rgb(109, 189, 255);
    margin-left: -10px;
}
.circle_2{
    border: 1px solid rgb(109, 189, 255);
    height:15px;
    border-radius: 50%;
    width:15px;
    position:absolute;
    background-color: rgb(109, 189, 255);
    margin-left: -10px;
    margin-top: 85px;
}
.circle_3{
    border: 1px solid rgb(109, 189, 255);
    height:15px;
    border-radius: 50%;
    width:15px;
    margin-top: 170px;

    position:absolute;
    background-color: rgb(109, 189, 255);
    margin-left: -10px;
}
.timeline_carrer_info_1_1{
    margin-top: 28px;
    margin-left: 50px;
}








.ver_line_2{
    border-left: 3px solid rgb(109, 189, 255);
    height: 180px;
    margin-right: 550px;
    position: relative;
    margin-top: 60px;
    float: right;
}
.circle_1{
    border: 1px solid rgb(109, 189, 255);
    height:15px;
    border-radius: 50%;
    width:15px;
    position:absolute;
    background-color: rgb(109, 189, 255);
    margin-left: -10px;
}
.circle_2{
    border: 1px solid rgb(109, 189, 255);
    height:15px;
    border-radius: 50%;
    width:15px;
    position:absolute;
    background-color: rgb(109, 189, 255);
    margin-left: -10px;
    margin-top: 85px;
}
.circle_3{
    border: 1px solid rgb(109, 189, 255);
    height:15px;
    border-radius: 50%;
    width:15px;
    margin-top: 170px;

    position:absolute;
    background-color: rgb(109, 189, 255);
    margin-left: -10px;
}
.timeline_carrer_info_1_2{
    margin-top: 28px;
    margin-left: 60px;
    height: 100px;
    position: absolute;
}
.timeline_carrer_info_1_3{
    margin-top: 115px;
    margin-left: 60px;
    height: 100px;
    position: absolute;
}
.timeline_carrer_info_1_4   {
    margin-top: 200px;
    margin-left: 60px;
    height: 100px;
    position: absolute;
}
.trophy{
    height: 30px;
    width: 30px;
    margin-left: 100px;
    margin-right: 10px;
    
}
#trophy{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 580px;

}

#tag_2{
    height: 0px;
    width: 60px;
    border: 1px solid rgb(109, 189, 255)  ;
    border-radius: 10px;
    padding: 15px;
    background-color:rgb(109, 189, 255) ;
    margin-left: 70px;
    margin-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.tag_div_2{
    margin-top: 20px;
    height: 500px;
    float:right;
    margin-left: 750px;
}


.ver_line_3{
    border-left: 3px solid rgb(109, 189, 255);
    height: 180px;
    margin-left: 940px;
    position: relative;

}

.edu{
    height: 30px;
    width: 30px;
    margin-left: 100px;
    margin-right: 10px;
    
}
#edu{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 590px;
    margin-left: 10px;

}


.timeline_carrer_info_1_5{
    margin-top: 0px;
    margin-left: 900px;
    height: 100px;
    position: absolute;
}
.timeline_carrer_info_1_6{
    margin-top: 85px;
    margin-left: 900px;
    height: 100px;
    position: absolute;
}
.timeline_carrer_info_1_7   {
    margin-top: 170px;
    margin-left: 900px;
    height: 100px;
    position: absolute;
}

